@model IEnumerable<DashApp.ViewsModels.DepartamentoViewModel>
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Departamento</th>
            @*<th>Job Position</th>
            <th>Since</th>
            <th class="text-right">Salary</th>
            <th class="text-right">Actions</th>*@
        </tr>
    </thead>
    <div class="navbar navbar-collapse justify-content-end">
        <form>
                <button class="btn btn-warning" asp-action="CreateOrEdit">Cadastrar</button>
        </form>
    </div>
    <tbody>
        @if(@Model != null)
        {
            foreach(var viewModel in @Model)
            {
                <tr>
                 <td class="text-center">@viewModel.Id</td>
                <td>
                    <a class="setor">@viewModel.Setor</a>
                </td>
                <td class="td-actions text-right">
                    <a href="../Departamento/Deletar/@viewModel.Id">
                        <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                    </a>
                </td>
                </tr>
            }
        }
    </tbody>
</table>