@model DashApp.ViewsModels.CargoViewModel
@{
    ViewData["Title"] = "Cadastrar Cargos";
}
<div class="card">
    <div class="card-title text-center">
        <span class=""></span>
        <h2>Cadastro de Cargos</h2>
    </div>
    <div class="card-body">
        <form id="form" class="form-horizontal" asp-action="CreateOrEdit" asp-controller="Cargo"
              data-ajax="true" data-ajax-method="POST" data-ajax-failure="formOnFail" data-ajax-success="window.location = '/Cargo'"
              asp-anti-forgery>
            <div class="form-row">
                <input type="hidden" class="form-control" asp-for="Id" />
                <div class="form-group col-md-6">
                    <label for="cargo">Cargo</label>
                    <input type="text" class="form-control" asp-for="Atribuicao">
                    <span asp-validation-for="Atribuicao" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
}
